# clave administracion.
AUTH_KEY=

# puerto servidor.
PORT=

#
STORAGE_TYPE=mongo
STORAGE=cloud

# mongo string de conexion.
MONGO_ATLAS=
MONGO_LOCAL=

# node mailer
NODEMAILER_USER=
NODEMAILER_PASS=
NODEMAILER_HOST=
NODEMAILER_PORT=
#User para recibir compra
NODEMAILER_USER_TO=

# session
SESSION_EXPIRATION_TIME=
SESSION_SECRET_KEY=