<!DOCTYPE html>
<html lang="es">

<head>


  <%- include('./partials/head') %>
</head>

<body>
  <header>
    <%- include('./partials/header') %>
  </header>

  <div class="jumbotron">
    <h1 class="display-4">BebidasScript</h1>
    <hr class="my-4">
    <p>
      Ecommerce de bebidas , encontraras todas las bebidas !
    </p>

  </div>
</body>
<script src="client.js"></script>
<footer>
  <%- include('./partials/footer') %>
</footer>

</html>